/*
###################################################################
               Customize color scheme of your ChatX app
               in this file.
               STYLE: CHATX DARK FOREST
               # Author: C3La-NS
               # More ChatX templates: https://xlns.ru/chatx
###################################################################
*/

:root {
  --chx-primary-color: #1f2911; /* dominant color */
  --chx-secondary-color: #86bb41; /* header, bottom buttons, authentication buttons, user nicknames, borders */
  --chx-third-color: #25350f; /* buttons, even lists */
  --chx-forth-color: rgba(198, 222, 183, 0.95); /* pop-ups */
  --chx-fifth-color: #435f1e; /* borders */
  --chx-sixth-color: #1f2911; /* pop-up texts */
  --chx-seventh-color: #90ff00; /* reply button, history links, general links */
  --chx-eighth-color: #e3ffbe; /* even text lists, helper texts, time-ago */
  --chx-nineth-color: #fff; /* odd text lists */
  --chx-tenth-color: rgba(255, 187, 187, 0.95); /* errors */
  --chx-eleventh-color: #bb5a5a; /* error texts */
  --chx-twelveth-color: #51718c; /* input placeholders */
  --chx-thirteenth-color: #4a501b; /* my message */
  
}
