/*
###################################################################
               Customize color scheme of your ChatX app
               in this file.
               STYLE: CHATX PURPLE ROSE
               # Author: C3La-NS
               # More ChatX templates: https://github.com/C3La-NS/ChatX-templates
###################################################################
*/

:root {
  --chx-1-color: #faf3ff; /* dominant color */
  --chx-2-color: #ca84f7; /* header, bottom buttons, authentication buttons, user nicknames, borders */
  --chx-2-1-color: var(--chx-3-color);
  --chx-3-color: #fff; /* buttons, even lists */
  --chx-4-color: rgba(72, 72, 72, 0.95); /* pop-ups */
  --chx-5-color: #d5dbe1; /* borders */
  --chx-6-color: #ccc; /* pop-up texts */
  --chx-7-color: #8f53b5; /* reply button, history links, general links */
  --chx-8-color: #717c87; /* even text lists, helper texts, time-ago */
  --chx-9-color: #717c87; /* odd text lists */
  --chx-10-color: rgba(255, 187, 187, 0.95); /* errors */
  --chx-11-color: #bb5a5a; /* error texts */
  --chx-12-color: #51718c; /* input placeholders */
  --chx-13-color: #ffe5e5; /* my message */

  /* # # # More components # # # */
  --chx-selection-color: rgb(135 191 239 / 45%); /* chat text selection */
  --chx-placeholer-color: var(----chx-5-color); /* chat placeholders */
  --chx-scrollbar-color: var(--chx-4-color); /* chat scrollbar */
}

#chatx ::selection {
  background: var(--chx-selection-color);
}
#chatx ::placeholder {
    color: var(--chx-placeholer-color);
}
.scrollbar-macosx > .scroll-element .scroll-bar {
    background: var(--chx-scrollbar-color);
}
